
body {
    width: 100%;
    height: 100%;
    display: flex;
}


.dr-marker {
    width: 30px;
    height: 30px;
    border: 1px solid rebeccapurple;
    background-size: contain;
    background-image: url("../image/location.svg");
    /*background-image: svg-load('svg/location.svg', fill=#6fb04e);*/
}


/*.dr-marker img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
